body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:rgb(246, 255, 243);
    font-family: 'Inter', sans-serif;
}

header {
    font-size: 14px;
    padding: 12px;
}

main {
    flex: 1;
    padding: 80px;
}

footer {
    margin-top: auto;
    font-size: 14px;
    padding: 12px;
}

h1 {
    font-family: monospace;
    font-size: 38px;
    padding: 0;
    color: black;
}

h3 {
    font-style: normal;
    font-weight: 400;
}

a {
    color: #0000EE; 
}

.headerlink {
    color: black;
    text-decoration: none;
}

.pi {
    width: 50%
}


